<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style type="text/css">
            p{
                font-size:100px;
            }
        </style>
    </head>
    <body>
    <p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </p>
    </body>
</html>
